/* schedule.css */

.schedule-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 500px;
    margin: auto;
    background-color: lightgray;
    text-align: center;
}

.schedule-game {
    min-height: 100px;
    background-color: gray;
    margin: 5px;
    line-height: 50px;
}