/* schedule.css */

.schedule-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 500px;
    margin: auto;
    background-color: lightgray;
    text-align: center;
    padding-top: 20px;
}

.schedule-game {
    min-height: 50px;
    background-color: #BBBBBB;
    margin: 5px;
    line-height: 50px;
}

.schedule-game.highlight {
    background-color: #999999;
    margin: 5px;
    font-weight: 700;
}

.schedule-search-button {
    width: 150px;
    margin: auto;
}

.schedule-game-link {
    text-decoration: none;
    color: black;
}


.schedule-game-link:hover {
    color: black;
}

.return-to-top {
    position: fixed;
    top: 95%;
    left: 45%;
}