.teams-header {
    height: 50px;
    flex-basis: 100;
}

.teams-mosaic {
    display: flex;
    flex-wrap: wrap;
}

.team-square {
    height: 100px;
    min-width: 8.33%;
    text-align: center;
    border: 5px solid black;
}

.team-square span {
    font-size: 25px;
    line-height: 90px;
}

.team-square span:hover {
    text-shadow: 2px 0px 0px gray;
}

.team-square.faded {
    filter: brightness(20%);
}

/* DETAILS */
.details-container {
    width: 500px;
    height: 1000px;
    padding-top: 20px;
    margin: auto;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.details-title {
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

.details-heading {
    font-size: 45px;
}

.details-sub-heading {
    font-size: 22px;
    line-height: 50%;
}

.details-logo {
    /* position: absolute;
    top: 15px;
    left: 37%; */
    width: 120px;
    height: 120px;
    clip-path: circle(60px at center);
    background-color: white;
}