#index-container {
  width: 100%;
}

#index-main {
  display: flex;
  align-items: center;
  height: 25%;
  background-color: blue;
  width: 25%;
  margin: auto;
}

#header-img {
  position: absolute;
  height: 100px;
}

.header-text {
  text-align: center;
  position: absolute;
  color: white;
  z-index: 1;
  margin: auto;
}

.index-header {
  height: 80px;
  background-color: gray;
}

.index-header-center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-header-col {
  display: flex;
  text-align: center;
}

.index-body {
  height: 500px;
}

.index-body-center {
  display: flex;
  align-items: center;
}

.index-input {
  width: 100%;
  text-align:center;
  box-shadow: 0 0 20px gray;
}

.menu-button {
  width: 45%;
  height: 70%;
  margin: 10px;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button:hover {
  background-color: #A5A5A5;
}