.teams-header {
    height: 50px;
    flex-basis: 100;
}

.teams-mosaic {
    display: flex;
    flex-wrap: wrap;
}

.team-square {
    height: 100px;
    min-width: 8.33%;
    text-align: center;
    border: 5px solid black;
}

.team-square span {
    font-size: 25px;
    line-height: 90px;
}

.team-square span:hover {
    text-shadow: 2px 0px 0px gray;
}

.team-square.faded {
    filter: brightness(20%);
}